{
    "presets": [
      "next/babel"
  
    ],
    "env": {
      "production": {
      }
    },
    "plugins": [
      [
        "@babel/plugin-proposal-decorators",
        {
          "legacy": true
        }
      ],
      [
        "transform-inline-environment-variables",
        {
          "include": ["NODE_ENV", "API"]
        }
      ]
    ]
  }